@import '~bootstrap/scss/bootstrap.scss';

html,
body
{
    height: 100%;
}

.statusScreen {


    .table-wrap {
        overflow-x: auto;
        table {
            min-width: 400px;
        }
    }
}